.frame {
  width: 768px;
  height: 456px;
  margin: 0 auto;
  position: relative;
}
.frame:hover {
  cursor: pointer;
}
.frame:hover .body .field {
  transform: perspective(500px) rotateX(31deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);
  filter: blur(2px);
}
.frame:hover .body .player img {
  transform: perspective(590px) rotateX(-14deg) rotateY(-37deg) rotateZ(-4deg) scale(1.2);
}
.frame:hover .body .ball {
  top: 22%;
  right: 34%;
}
.frame:hover .body .ball img {
  transform: perspective(10px) rotateX(0deg) rotateY(6deg) rotateZ(-500deg) scale(1.5);
}
.frame .body .field {
  background-image: url('../images/field.jpg');
  background-size: 100% 100%;
  transform-style: preserve-3d;
  width: 50%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 30%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 0, 0.68, 1.11);
  transition-delay: 0s;
  transform: translate(-50%, -50%);
}
.frame .body .player {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.frame .body .player img {
  width: 100%;
  transform-style: preserve-3d;
  transition: all linear 0.6s;
  transform: perspective(593px) rotateX(-7deg) rotateY(-67deg) rotateZ(12deg);
}
.frame .body .ball {
  width: 7%;
  position: absolute;
  top: 44%;
  right: 54%;
  transform: translate(-50%, -50%);
  z-index: 9;
  transition: all linear 0.6s;
}
.frame .body .ball img {
  width: 100%;
  transform-style: preserve-3d;
  transition: all linear 0.6s;
  transform: perspective(10px) rotateX(0deg) rotateY(6deg) rotateZ(-103deg);
}
